language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
env:
  - PEEWEE_TEST_BACKEND=sqlite
  - PEEWEE_TEST_BACKEND=postgresql
services:
  - postgres
install: "pip install psycopg2"
before_script:
  - sh -c "psql -c 'create database peewee_test;' -U postgres"
  - sh -c "psql peewee_test -c 'create extension hstore;' -U postgres"
script: "python runtests.py -a"
