include CHANGELOG.md
include LICENSE
include README.rst
include TODO.rst
include runtests.py
include tests.py
include playhouse/_sqlite_ext.pyx
include playhouse/_sqlite_udf.pyx
include playhouse/_speedups.pyx
include playhouse/pskel
include playhouse/README.md
include playhouse/tests/README
recursive-include examples *
recursive-include docs *
recursive-include playhouse/_pysqlite *
