include CHANGELOG.md
include LICENSE
include README.rst
include TODO.rst
include pyproject.toml
include runtests.py
include tests.py
include playhouse/*.c
include playhouse/*.pyx
include playhouse/README.md
recursive-include examples *
recursive-include docs *
recursive-include playhouse/_pysqlite *
